.car_road {
  width: 100%;
  border-bottom: 2px dashed #ff2800;
  border-top: 1px solid black;
}
:root {
  --left: 0px;}

.road {
  position: relative;
  height: 35px;
  >svg {
    position: absolute;
    bottom: 0;
    left: var(--left);
  }
}
.car_control {
  display: flex;
  align-items: flex-start;
}

.winner_race {
  position: absolute;
  top: 50%;
  left: 20%;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  min-width: fit-content;
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px rgb(255, 40, 0), 0 0 30px rgb(255, 40, 0), 0 0 40px rgb(255, 40, 0), 0 0 55px rgb(255, 40, 0), 0 0 75px rgb(255, 40, 0);
  color: #FFFFFF;
  font-size: 2rem;
}