.car_road {
  width: 100%;
  border-bottom: 2px dashed #ff2800;
  border-top: 1px solid black;
}
:root {
  --left: 0px;}

.road {
  position: relative;
  height: 35px;
  >svg {
    position: absolute;
    bottom: 0;
    left: var(--left);
  }
}
.car_control {
  display: flex;
  align-items: flex-start;
}